a {
  color: #343a40;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1em;
}
p {
  letter-spacing: 0.005em;
}

// custom-btn
.custom-btn {
  padding: 16px 24px;
  color: #fff;
  background-color: map-get($theme-colors, "accent-200");
  &:hover {
    color: map-get($theme-colors, "accent-200");
    background-color: transparent;
  }
  @include mobile {
    padding: 12px 20px;
  }
}
