<footer>
    <div class="container">
        <div class="footer-content d-flex flex-column flex-md-row align-items-center align-items-md-tart justify-content-between pt-8 pb-8 pt-md-10 pb-md-10">
            <h2 class="mb-3">
                想看什麼主題由你決定！
            </h2>
            <div class="d-flex flex-column align-items-center align-items-md-end">
                <h4 class="fw-bold mb-6 mb-md-3">歡迎投稿與我們分享</h4>
                <button class="btn custom-btn fs-6 fs-md-5" type="button">
                    聯絡我們
                </button>
            </div>
        </div>
        <hr>
        <p class="text-primary-400 fs-md-6 text-center fw-semibold p-5 ">©Vivre 2024 All right Reserved</p>
    </div>
</footer>