.navbar .container {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
  @include pad {
  }
}
.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}
.nav-search {
  input {
    padding: 12px 20px;
    border-radius: 100px;
  }
  i {
    right: 20px;
    color: map-get($theme-colors, "accent-200");
  }
}
.navbar-nav {
  column-gap: 20px;
  .nav-item {
    padding: 0;
  }
  .nav-link {
    padding: 8px 20px;
  }
  @include pad {
    align-items: flex-start !important;
    justify-content: flex-start;
    row-gap: 24px;
    .nav-link {
      padding: 12px;
    }
    li:last-child {
      margin-top: 16px;
    }
  }
}
nav > .container {
  border-bottom: 1px solid #adb5bd;
}
