<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <section>
        <div class="banner-area">
          <div class="row h-100">
            <div class="col-md-6 d-flex flex-column justify-content-center">
              <div class="banner-content ps-9 text-white">
                <h5 class="mb-2">獻給新世代的生活風格誌</h5>
                <h1 class="mb-5">一起探索生活的無限可能</h1>
                <button class="btn custom-btn" type="button">馬上訂閱 <i class="bi bi-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-topic">
        <h2 class="mb-5">熱門主題</h2>
        <div class="row g-4">
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-1">
              <h5 class="text-white">城市漫遊者</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-2">
              <h5 class="text-white">秘境尋蹤人</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-3">
              <h5 class="text-white">品味設計家</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-4">
              <h5 class="text-white">美食探險記</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-5">
              <h5 class="text-white">美學建築誌</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-6">
              <h5 class="text-white">慢活生活行</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-7">
              <h5 class="text-white">工藝匠心賞</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="card bg-basic theme-8">
              <h5 class="text-white">時尚先鋒派</h5>
            </div>
          </div>
        </div>
      </section>
      <section class="home-article">
        <div class="row">
          <div class="col-md-4 d-flex flex-column justify-content-between">
            <h2>精選文章</h2>
            <div>
              <div class="swiper-pagination mb-6"></div>
              <div class="d-flex align-items-center">
                <div class="swiper-button-prev me-4">
                  <i class="bi bi-arrow-left"></i>
                </div>
                <div style="background-color: #6c757d; width:80px; height:1px" class="me-4"></div>
                <div class="swiper-button-next">
                  <i class="bi bi-arrow-right"></i>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-8" style="height: 440px;">
            <div class="swiper mySwiper h-100">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card h-100">
                    <img src="../assets/images/articles-1.png" alt="Image" class="card-img-top">
                    <div class="card-body pt-5 pb-5 ps-0 pe-0">
                      <h5 class="mb-1">私人島嶼的露營奇遇記</h5>
                      <p class="card-text mb-5">
                        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                      <div class="d-flex align-items-center">
                        <a href="#" class="read-more">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card h-100">
                    <img src="../assets/images/articles-2.png" alt="Image" class="card-img-top">
                    <div class="card-body pt-5 pb-5 ps-0 pe-0">
                      <h5 class="mb-1">窺探米其林三星主廚的絕密手藝</h5>
                      <p class="card-text mb-5">
                        在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                      <div class="d-flex align-items-center">
                        <a href="#" class="read-more">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card h-100">
                    <img src="../assets/images/articles-2.png" alt="Image" class="card-img-top">
                    <div class="card-body pt-5 pb-5 ps-0 pe-0">
                      <h5 class="mb-1">窺探米其林三星主廚的絕密手藝</h5>
                      <p class="card-text mb-5">
                        在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                      <div class="d-flex align-items-center">
                        <a href="#" class="read-more">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>